body {
    background-color: azure;
    margin: 30px 20px;
    text-align: center;
}

#cabecalho {
    position: fixed;
    left: 20%;
    right: 40%;
    background-color: brown;
    border-radius: 10%;
    z-index: 2;
    font-weight: bolder;
}

#cabecalho ul {
    list-style: none;
}

#cabecalho li {
    display: inline-block;
    margin: 0px 2px;
    padding: 5px;
    background-color: gold;
    border-radius: 10%;
}
#cabecalho li :hover{
    display: inline-block;
    color:  gold;
    background-color: black;
    padding: 7px;
    border-radius: 10%;
    margin: 0px 2px;

}
#cabecalho a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

nav h1 {
    display: none;

}

.lado-esquerdo {
    float: left;
    border: 1px;
    border-color: black;
    width: 60%;
    margin-right: 100px;
    position: relative;
    margin-top: 150px;
    padding-left: 10%;
}
.lado-esquerdo h3{
    text-decoration: underline;
}

.lado-direito {
    border: 1px;
    border-color: black;
    width: 20%;
    float: right;
    margin-top: 150px;
}

.lado-direito p {
    font-weight: bold;
    border-width: 1px;
    border-color: black;

}

#rodape {
    position: relative;
    top: 20px;
    clear: both;
    right: 170px;
}

#rodape div {
    display: inline-block;
}

#rodape img {
    width: 48px;
    margin: 0 15px;

}